<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moviesystem.mapper.UserEventMapper">

    <insert id="insert">
        INSERT INTO user_event(user_id, movie_id, event_type, score, event_time)
        VALUES (#{userId}, #{movieId}, #{eventType}, #{score}, #{eventTime})
    </insert>

    <select id="recentViewedMovieIds" resultType="long">
        SELECT movie_id
        FROM user_event
        WHERE user_id = #{userId} AND event_type = 'view'
        ORDER BY event_time DESC
        LIMIT #{limit}
    </select>
    <select id="getUserHistory" resultType="com.moviesystem.dto.HistoryDTO">
        select
        m.id as movieId,
        m.title,
        m.genres,
        m.year,
        max(ue.event_time) as eventTime
        from user_event ue
        join movie m on ue.movie_id = m.id
        where ue.user_id = #{userId}
        and ue.event_type = 'view'
        group by m.id, m.title, m.genres, m.year
        order by eventTime desc
        limit 50
    </select>


</mapper>
